<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accountTypeArr</key>
	<array>
		<string>现金（RMB)</string>
		<string>银行卡</string>
		<string>支付宝</string>
		<string>微信</string>
		<string>其他</string>
	</array>
	<key>expensesTypeArr</key>
	<array>
		<dict>
			<key>budget</key>
			<real>0.0</real>
			<key>iconName</key>
			<string>FirstType_10</string>
			<key>initBudget</key>
			<real>2000</real>
			<key>isEditable</key>
			<false/>
			<key>name</key>
			<string>食品酒水</string>
			<key>subTypeArr</key>
			<array>
				<dict>
					<key>amountRange</key>
					<string>5-700</string>
					<key>iconName</key>
					<string>FirstType_08</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>早午晚餐</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>5-700</string>
					<key>iconName</key>
					<string>FirstType_05</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>烟茶水</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>5-100</string>
					<key>iconName</key>
					<string>FirstType_05</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>水果零食</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>budget</key>
			<real>0.0</real>
			<key>iconName</key>
			<string>FirstType_10</string>
			<key>initBudget</key>
			<real>4000</real>
			<key>isEditable</key>
			<false/>
			<key>name</key>
			<string>居家物业</string>
			<key>subTypeArr</key>
			<array>
				<dict>
					<key>amountRange</key>
					<string>100-500</string>
					<key>iconName</key>
					<string>FirstType_07</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>日常用品</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>100-500</string>
					<key>iconName</key>
					<string>FirstType_09</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>水电煤气</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>1000-1500</string>
					<key>iconName</key>
					<string>FirstType_03</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>房租</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>150-200</string>
					<key>iconName</key>
					<string>FirstType_03</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>物业管理</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>200-1000</string>
					<key>iconName</key>
					<string>FirstType_09</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>维修保养</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>budget</key>
			<real>0.0</real>
			<key>iconName</key>
			<string>FirstType_10</string>
			<key>initBudget</key>
			<real>500</real>
			<key>isEditable</key>
			<false/>
			<key>name</key>
			<string>行车交通</string>
			<key>subTypeArr</key>
			<array>
				<dict>
					<key>amountRange</key>
					<string>5-10</string>
					<key>iconName</key>
					<string>FirstType_02</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>公共交通</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>30-100</string>
					<key>iconName</key>
					<string>FirstType_01</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>打车</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>200-500</string>
					<key>iconName</key>
					<string>FirstType_07</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>租车</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>200-300</string>
					<key>iconName</key>
					<string>FirstType_07</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>私家车</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>500-800</string>
					<key>iconName</key>
					<string>FirstType_02</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>包车</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>budget</key>
			<real>0.0</real>
			<key>iconName</key>
			<string>FirstType_10</string>
			<key>initBudget</key>
			<real>1000</real>
			<key>isEditable</key>
			<false/>
			<key>name</key>
			<string>休闲娱乐</string>
			<key>subTypeArr</key>
			<array>
				<dict>
					<key>amountRange</key>
					<string>10-100</string>
					<key>iconName</key>
					<string>FirstType_03</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>运动健身</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>150-300</string>
					<key>iconName</key>
					<string>FirstType_07</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>腐败聚会</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>200-400</string>
					<key>iconName</key>
					<string>FirstType_03</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>休闲玩乐</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>200-400</string>
					<key>iconName</key>
					<string>FirstType_08</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>宠物宝贝</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>1000-3000</string>
					<key>iconName</key>
					<string>FirstType_07</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>旅游度假</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>300-1000</string>
					<key>iconName</key>
					<string>FirstType_08</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>酒店费</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>budget</key>
			<real>0.0</real>
			<key>iconName</key>
			<string>FirstType_10</string>
			<key>initBudget</key>
			<real>500</real>
			<key>isEditable</key>
			<false/>
			<key>name</key>
			<string>学习进修</string>
			<key>subTypeArr</key>
			<array>
				<dict>
					<key>amountRange</key>
					<string>50-200</string>
					<key>iconName</key>
					<string>FirstType_02</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>书报杂志</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>2000-4000</string>
					<key>iconName</key>
					<string>FirstType_08</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>培训</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>2000-4000</string>
					<key>iconName</key>
					<string>FirstType_03</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>数码装备</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>50-100</string>
					<key>iconName</key>
					<string>FirstType_01</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>教材</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>budget</key>
			<real>0.0</real>
			<key>iconName</key>
			<string>FirstType_10</string>
			<key>initBudget</key>
			<real>1000</real>
			<key>isEditable</key>
			<false/>
			<key>name</key>
			<string>人情来往</string>
			<key>subTypeArr</key>
			<array>
				<dict>
					<key>amountRange</key>
					<string>200-1000</string>
					<key>iconName</key>
					<string>FirstType_07</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>送礼</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>200-1000</string>
					<key>iconName</key>
					<string>FirstType_07</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>请客</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>200-1000</string>
					<key>iconName</key>
					<string>FirstType_08</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>孝敬长辈</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>200-1000</string>
					<key>iconName</key>
					<string>FirstType_04</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>还钱</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>200-1000</string>
					<key>iconName</key>
					<string>FirstType_08</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>慈善捐助</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>200-1000</string>
					<key>iconName</key>
					<string>FirstType_09</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>酒席红包</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>budget</key>
			<real>0.0</real>
			<key>iconName</key>
			<string>FirstType_10</string>
			<key>initBudget</key>
			<real>500</real>
			<key>isEditable</key>
			<false/>
			<key>name</key>
			<string>医疗保健</string>
			<key>subTypeArr</key>
			<array>
				<dict>
					<key>amountRange</key>
					<string>20-100</string>
					<key>iconName</key>
					<string>FirstType_06</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>药品费</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>200-1000</string>
					<key>iconName</key>
					<string>FirstType_01</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>保健费</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>200-1000</string>
					<key>iconName</key>
					<string>FirstType_01</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>美容费</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>100-200</string>
					<key>iconName</key>
					<string>FirstType_09</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>治疗费</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>budget</key>
			<real>0.0</real>
			<key>iconName</key>
			<string>FirstType_10</string>
			<key>initBudget</key>
			<real>2000</real>
			<key>isEditable</key>
			<false/>
			<key>name</key>
			<string>金融保险</string>
			<key>subTypeArr</key>
			<array>
				<dict>
					<key>amountRange</key>
					<string>10-50</string>
					<key>iconName</key>
					<string>FirstType_04</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>银行手续</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>10-500</string>
					<key>iconName</key>
					<string>FirstType_04</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>投资亏损</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>2000-5000</string>
					<key>iconName</key>
					<string>FirstType_05</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>按揭还款</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>500-1000</string>
					<key>iconName</key>
					<string>FirstType_05</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>消费税收</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>50-100</string>
					<key>iconName</key>
					<string>FirstType_02</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>利息支出</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>50-300</string>
					<key>iconName</key>
					<string>FirstType_05</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>赔偿罚款</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>budget</key>
			<real>0.0</real>
			<key>iconName</key>
			<string>FirstType_10</string>
			<key>initBudget</key>
			<real>500</real>
			<key>isEditable</key>
			<false/>
			<key>name</key>
			<string>其它杂项</string>
			<key>subTypeArr</key>
			<array>
				<dict>
					<key>amountRange</key>
					<string>50-300</string>
					<key>iconName</key>
					<string>FirstType_06</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>其它支出</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>50-300</string>
					<key>iconName</key>
					<string>FirstType_09</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>意外丢失</string>
				</dict>
				<dict>
					<key>amountRange</key>
					<string>50-300</string>
					<key>iconName</key>
					<string>FirstType_06</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>烂账损失</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>incomeTypeArr</key>
	<array>
		<dict>
			<key>budget</key>
			<real>0.0</real>
			<key>iconName</key>
			<string>FirstType_10</string>
			<key>initBudget</key>
			<real>0.0</real>
			<key>isEditable</key>
			<false/>
			<key>name</key>
			<string>职业收入</string>
			<key>subTypeArr</key>
			<array>
				<dict>
					<key>iconName</key>
					<string>FirstType_02</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>工资收入</string>
				</dict>
				<dict>
					<key>iconName</key>
					<string>FirstType_06</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>利息收入</string>
				</dict>
				<dict>
					<key>iconName</key>
					<string>FirstType_04</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>加班收入</string>
				</dict>
				<dict>
					<key>iconName</key>
					<string>FirstType_01</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>奖金收入</string>
				</dict>
				<dict>
					<key>iconName</key>
					<string>FirstType_07</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>投资收入</string>
				</dict>
				<dict>
					<key>iconName</key>
					<string>FirstType_04</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>兼职收入</string>
				</dict>
				<dict>
					<key>iconName</key>
					<string>FirstType_08</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>出差收入</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>budget</key>
			<real>0.0</real>
			<key>iconName</key>
			<string>FirstType_10</string>
			<key>initBudget</key>
			<real>0.0</real>
			<key>isEditable</key>
			<false/>
			<key>name</key>
			<string>其它收入</string>
			<key>subTypeArr</key>
			<array>
				<dict>
					<key>iconName</key>
					<string>FirstType_01</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>礼金收入</string>
				</dict>
				<dict>
					<key>iconName</key>
					<string>FirstType_05</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>中奖收入</string>
				</dict>
				<dict>
					<key>iconName</key>
					<string>FirstType_04</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>意外来钱</string>
				</dict>
				<dict>
					<key>iconName</key>
					<string>FirstType_01</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>经营所得</string>
				</dict>
				<dict>
					<key>iconName</key>
					<string>FirstType_05</string>
					<key>isEditable</key>
					<false/>
					<key>name</key>
					<string>信用卡还款</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
